html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#app {
    background-image: url('../images/background.JPG');
    background-size: cover;
    background-position: center center;
    margin: auto;
    display: table;
    top: 0;
    height: 100%;
    width: 100%;
}